main {
  background:#778da9; /* changes the "main" background color to blue */
  color: #0d1b2a; /* changes the font to a lighter black */
  padding: 15px; /*gives all the text padding on all sides, similar to a margin */
}

body{
  border-style: groove; /* declares a border style */
  border-color: #415a77; /* changes the color of the border*/
  margin: 1px /* adds indentation so lines do not start all the way to the right */
}

header{
  background-color: #efe5dc;
  height: 100px; /* makes "Hi!, I'm Lorenzo Clemons" closer to "I am a software developer living in TX" */
  padding: 15px;
}

img {
 width: 100% /* makes the picture the same width as the reswt of the text and margins*/
}
p {
  font-family: Bradley Hand, cursive; /* declare font */
  font-size: 14em /* declare font size" */

}

li {
  font-family: Bradley Hand, cursive
}

h1 {
  text-align: center;
  height: 15px;
  font-family: Trebuchet MS, sans-serif;
  text-align: center;
}

h2 {
  font-family: Trebuchet MS, sans-serif;
  text-align: center;
  height: 10px;
}

h3 {
  font-family:  Trebuchet MS, sans-serif;
  text-align: center;
}

h4 {
  font-family: Trebuchet MS, sans-serif;
  text-align: center;

}

hr{
  border: 1px solid #e0e1dd;
  width: 250px;
}

a:hover{ 
  color: red;
}
